<div>
    <h3><a href="#!/home/" class="" style="color:black;">回主頁</a></h3>
</div>


<div class="row text-center">
    <div class="col-sm-4 margin-15" ng-repeat="item in self.activities">
        <a class="btn btn-default btn-lg a-size" href="{{item.Url}}">
            <div class="row">
                <div class="col-xs-4">
                    <i class="{{item.Icon}} icon-size"></i>
                </div>
                <div class="col-xs-8 padding-5-0 text-left text-ellipsis-8">
                    <span class="" title="{{item.Title}}">
                        <strong>{{item.Title}}</strong>
                    </span>
                    <br />
                    <span class="font-size-14" title=" {{item.SubTitle}}">
                        {{item.SubTitle}}
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
<div style="font-size: 23px;">當前網址:{{self.url}}</div>


<div style="margin-top:50px;border:2px solid black;width:877px;">
    <h2> <span style="color:red">練習項目</span></h2>
    <h4> <span style="color:purple">1.路由更換當前網址</span></h4>
</div>